[submodule "app"]
	path = app
	url = ../app
[submodule "console"]
	path = console
	url = ../console
[submodule "include"]
	path = include
	url = ../include
[submodule "port"]
	path = port
	url = ../../cpp-port/port
